.sideitem {
    font-size: 1em;
    height: 10%;
    display: flex;
    justify-content: center;
  
    align-items: center;
}
.sideitem span{
    height: 1em;
    margin: 5px;
}
.sideitem .active{
    border: 2px solid white;
padding: 10px 30px;
}
a{
text-decoration: none;
color: black;
}
